.formWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background-color: #61dafb;
  border: 1px white solid;
  filter: drop-shadow(1px 1px 1px #000);
}
.formWrapper h4 {
  color: white;
}
.formWrapper form {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.formTitleWrapper {
  background-color: #20232a;
}
.formControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.formControls button {
  padding: 5px;
  margin: 0 5px;
  background-color: #FFF;
  border: 1px black solid;
  border-radius: 0%;
  filter: drop-shadow(1px 1px 1px #000);
}
